# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directory
venv/

# Ignore data directory (if not already added)
data/

# Python cache files
__pycache__/

# MacOS-specific files
.DS_Store

